<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" >
    <parameter name="envUrl" value="http://automationpractice.com" />

    <test name="testGuru">
        <parameter name="searchKey" value="UK" />
        <classes>
            <class name="parameters.ParameterWithTestNGXML">
            </class>
        </classes>
    </test>
</suite>